/* 主页 */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 搜索栏 */
.searchbar {
    position: relative;
    margin-top: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

/* 给logo添加的链接 */
.searchbar a {
    position: relative;
    width: 10%;
    height: 10%;
}

/* fortnite图标 */
.logo {
    position: relative;
    width: 100%;
    height: 100%;
}

.logo:hover {
    cursor: pointer;
}

/* 搜索栏的输入框 */
.search {
    position: relative;
    margin: 0.3% 1%;
    padding: 1vh 3vw 1vh 1vw;
    width: 50%;
    height: 5vh;
    font-family: 'STKaiti';
    font-size: 2vh;
    border: 1px solid rgba(210, 210, 210, 1);
    border-radius: 5vh;
}

.search:focus {
    outline: 1px solid rgba(60, 60, 60, 1);
    -webkit-box-shadow: 0px 0px 128px 0px rgba(45, 255, 196, 0.4);
    -moz-box-shadow: 0px 0px 128px 0px rgba(45, 255, 196, 0.4);
    box-shadow: 0px 0px 128px 0px rgba(45, 255, 196, 0.4);
}

/* 搜索图标 */
.search_icon {
    position: relative;
    left: -5%;
    border: none;
    background: none;
}

.search_icon:hover {
    transform: scale(1.2);
}

/* 标题 */
.head {
    position: relative;
    margin-top: 2vh;
    margin-right: auto;
    font-family: STKaiti;
    font-size: 1.5vw;
    font-weight: bold;
}

/* 游戏介绍 */
.introduction {
    position: relative;
    border: 1px solid rgba(60, 60, 60, 0.5);
    color: black;
    font-family: SimSun;
    font-size: 1.2vw;
    margin: 1vh 5vw 5vh 5vw;
    padding: 1vh 3vw;
    text-shadow: 1px 1px 8px rgba(100, 255, 160, 0.5);
    box-shadow: 1.5vh 1.5vw 6vw 0vh rgba(80, 215, 145, 0.5);
}

.introduction p {
    position: relative;
}

.introduction img {
    width: 100%;
    height: auto;
}

/* 图片和视频一起展览的容器 */
.image_container {
    position: relative;
    transform: scale(0.9);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* 当前赛季的标题 */
.season {
    position: relative;
    top: 1.5vh;
    color: rgba(150, 150, 150, 1);
    text-align: center;
    justify-self: flex-end;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

/* 上一张和下一张的组件 */
.back,
.next {
    position: absolute;
    top: 47%;
    z-index: 1;
    height: 6%;
    width: 7%;
    color: rgba(255, 255, 255, 0.7);
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 2vw;
}

.back:hover,
.next:hover {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}

.back {
    left: 0;
}

.next {
    right: 0;
}

/* 图片的容器 */
.images {
    position: relative;
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    flex-shrink: 0;
    transform: translateX(0);
    transition: transform 2s;
}

.images img {
    position: relative;
    height: 100%;
    width: 100%;
}

.images video {
    width: 100%;
    height: 100%;
    /* 防止视频播放后尺寸缩小 */
    min-width: 100%;
    min-height: 100%;
}

/* 预览栏目的容器 */
.preview_container {
    position: relative;
    top: -2vh;
    transform: scale(0.9);
    overflow: hidden;
}

/* 预览块 */
.preview {
    display: flex;
    flex-direction: row nowrap;
    transform: translateX(0);
    transition: transform 2s;
}

/* 预览块中前进和后退的按钮 */
.preview_container button {
    position: absolute;
    top: 40%;
    z-index: 1;
    padding: 0.5vh 0.5vw;
    margin: 0;
    font-size: 2.5vh;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.1);
}

.preview_container button:hover {
    border: 1px solid white;
    color: white;
}

.preview_next {
    left: 1%;
}

.preview_back {
    position: absolute;
    right: 1%;
}

.preview img,
.preview video {
    position: relative;
    width: 20%;
    height: 20%;
    filter: brightness(0.6) contrast(0.9);
}

.preview img:hover,
.preview video:hover {
    filter: brightness(1) contrast(1);
}

/* 游戏下载 */
.download {
    position: relative;
    margin-left: 5%;
    margin-right: auto;
}

/* 游戏下载中的文本提示 */
.download_text,
.download p {
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.8);
}

.download a {
    position: relative;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1vw;
    padding: 0.8vh 0.8vw;
    margin-right: 2vw;
    border: 1px solid;
}

.download a:hover {
    color: rgb(20, 152, 150);
    cursor: pointer;
}

/* 游戏配置 */
.config {
    display: flex;
    flex-direction: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(60, 60, 60, 1);
}

/* 游戏配置的各块 */
.config span {
    font-size: 1vw;
    font-weight: bold;
    padding: 2% 5%;
    color: rgba(180, 180, 180, 1);
}

.config span:hover {
    border-bottom: 1px solid white;
    color: white;
}

#config {
    margin-right: 5%;
    width: 100%;
    height: 100%;
}